<div class="flex flex-wrap justify-center">
  <div class="w-full md:w-1/2 lg:w-1/3">
    <ul>
      <li>
        <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
          <div class="font-semibold">Online Stores</div>
          <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
        </a>
      </li>
      <li>
        <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
          <div class="font-semibold">Segmentation</div>
          <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
        </a>
      </li>
      <li>
        <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
          <div class="font-semibold">Marketing CRM</div>
          <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="w-full md:w-1/2 lg:w-1/3 hidden md:block">
    <ul>
      <li>
        <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
          <div class="font-semibold">Audience Management</div>
          <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
        </a>
      </li>
      <li>
        <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
          <div class="font-semibold">Creative Tools</div>
          <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
        </a>
      </li>
      <li>
        <a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
          <div class="font-semibold">Marketing Automation</div>
          <span class="text-sm text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
        </a>
      </li>
    </ul>
  </div>
</div>
