

    <div class="session">
        <div class="left">
            <!-- Logo -->
            <!-- Tu código SVG del logotipo -->
        </div>
        <form action="#" class="log-in" autocomplete="off">
            <h4>Asistente para la <span>Educación</span></h4>
            <p>¡Bienvenido de nuevo! Inicie sesión en su cuenta para ver los clientes de hoy:</p>
            <div class="floating-label">
                <input placeholder="Email" type="email" name="email" id="email" autocomplete="off">
                <label for="email">Email:</label>
                <!-- Icono de correo electrónico -->
            </div>
            <div class="floating-label">
                <input placeholder="Password" type="password" name="password" id="password" autocomplete="off">
                <label for="password">Password:</label>
                <!-- Icono de contraseña -->
            </div>
            <button type="submit">Log in</button>
            <p>¿No tienes una cuenta? <a href="registro.component.html">Regístrate aquí</a></p>
        </form>
       
  

